

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
}

#welcomeDialogue {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border: 2px solid black;
    z-index: 1000;
}




h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameGridArea {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: lightblue;
}

.scoreArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.buttonArea {
    display: flex;
    gap: 20px;
}